{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Contribution to humanity</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static  'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static  'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon.png">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">


      <!-- image in place of logo name -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
      <h1 class="logo"><a href="index.html">ST. PANTELEIMON COMMUNITY <br> BASED ORGANISATION</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto"
              href="https://web.facebook.com/ST-Panteleimon-Mission-of-Hope-106154521897904">Facebook</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">gallery</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="#about-video">Donate</a></li>
          <li><a class="getstarted scrollto" href="activities">Activities</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>ST. PANTELEIMON</h1>
          <h2><strong>Community based organisation</strong></h2>
          <h2>A home Of Love To Orphans, Vulnerable Children And Widows</h2>
        </div>
      </div>
      <div class="text-center">
        <a href="#about-video" class="btn-get-started scrollto">Donate</a>
      </div>

      <div class="row icon-boxes">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bi-award-fill"></i></div>
            <h4 class="title"><a href="">Objectives</a></h4>
            <p class="description">Organizing and carrying out charity work on the less fortunate children in our
              community, formulating projects that benefit the community and empowering the widows and Vulnerable people
              with disabilities.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bi-graph-up-arrow"></i></div>
            <h4 class="title"><a href="">Mission</a></h4>
            <p class="description">To improve the lives of community by providing a safe place for vulnerable babies and
              young children is one of our main aims.
              At St. Panteleimon we believes that where possible children should be in a family,ideally their own.
              Therefore assisting families in adequate caring for their children is a huge part of our mission.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="ri-command-line"></i></div>
            <h4 class="title"><a href="">Vision</a></h4>
            <p class="description">To provide a safe caring and loving environment for children <span><u>(regardless of
                  HIV status or disability)</u></span> who are vulnerable, orphaned or abandoned. </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class="bi-trophy-fill"></i></div>
            <h4 class="title"><a href="">Achievements</a></h4>
            <p class="description">Having founded this prestigious mission in 2015, the orthodox community and other
              well wishers from different parts of the world have always stretched their merciful hands through their
              support. We have been able to provide education, shelter, clothes, food and healthcare to kids at the
              mission.</p>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">


    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contribution to humanity</h2>
          <p>The humble shall see God. </p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Some of our main objective are:
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> To organize and carry out charity work on the less fortunate
                children in our community.</li>
              <li><i class="ri-check-double-line"></i> To formulate projects that benefit the community.</li>
              <li><i class="ri-check-double-line"></i> To empower the widows and vulnerable people with disabilities
              </li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              St. Panteleimon community based organisation mission's pioneer <strong>Mr Raphael Andanyi</strong> was
              born and raised up with quite humble and God
              fearing parents. He was raised in accordance with orthodox doctrines and was educated with support of
              Archbishop Makarios from elementary
              level to tertiary level. He was born alongside one sister three brothers, but surprisingly enough he had
              quite unique traits unlike
              the rest. It is clear his humble background strengthen his positive attitude towards supporting the
              vulnerable in the society and his characteristics
              reflects a man naturally made and created with Lord given love.
              <br>
              <br>
              <br>
              Service to humanity is one of the cornerstone whose bliss of positive attitude reflects the true character
              and the teachings of Lord and savior Jesus Christ. Having been brought up holistically by the Orthodox
              church motivated him to establish a mission center to help orphans, vulnerable children and widows as a
              way of giving back to the society.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= About Video Section ======= -->
    <section id="about-video" class="about-video">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'assets/img/about-video.jpg' %}" class="img-fluid" alt="">
            <a href="https://youtu.be/XPq1PB8BI3E" class="glightbox play-btn mb-4" data-vbtype="video"
              data-autoplay="true"></a>
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3>DONATION</h3>
            <p class="fst-italic">
              St. Panteleimon Mission appeals to all key humanitalian stakeholders across the globe to come forward and
              be part of our success in making our cause not only flowery but real bliss in the flames of victory.
              Extending one's hand to these children will not only be recognised here on earth but shall put a new
              golden feather to one's heart and soul in eternity. <br><br>May God Bless You
              <hr>

            <div class="section-title">
              <h2>For Donation</h2>
            </div>
            </p>
            <hr>
            <ul id="donate">

              <li><i class="bi-paypal"></i> <strong>paypal account: </strong>opadayiraf@gmail.com</li><br>
              <hr>

              <!--paypal redirection-->
              <div id="smart-button-container">
                <div style="text-align: center"><label for="description"> </label><input type="text"
                    name="descriptionInput" id="description" maxlength="127" value=""></div>
                <p id="descriptionError" style="visibility: hidden; color:red; text-align: center;">Please enter a
                  description</p>
                <div style="text-align: center"><label for="amount">Enter amount to donate in USD </label><input
                    name="amountInput" type="number" id="amount" value=""><span> USD</span></div>
                <p id="priceLabelError" style="visibility: hidden; color:red; text-align: center;">Please enter a price
                </p>
                <div id="invoiceidDiv" style="text-align: center; display: none;"><label for="invoiceid"> </label><input
                    name="invoiceid" maxlength="127" type="text" id="invoiceid" value=""></div>
                <p id="invoiceidError" style="visibility: hidden; color:red; text-align: center;">Please enter an
                  Invoice ID</p>
                <div style="text-align: center; margin-top: 0.625rem;" id="paypal-button-container"></div>
              </div>
              <script src="https://www.paypal.com/sdk/js?client-id=sb&enable-funding=venmo&currency=USD"
                data-sdk-integration-source="button-factory"></script>
              <script>
                function initPayPalButton() {
                  var description = document.querySelector('#smart-button-container #description');
                  var amount = document.querySelector('#smart-button-container #amount');
                  var descriptionError = document.querySelector('#smart-button-container #descriptionError');
                  var priceError = document.querySelector('#smart-button-container #priceLabelError');
                  var invoiceid = document.querySelector('#smart-button-container #invoiceid');
                  var invoiceidError = document.querySelector('#smart-button-container #invoiceidError');
                  var invoiceidDiv = document.querySelector('#smart-button-container #invoiceidDiv');

                  var elArr = [description, amount];

                  if (invoiceidDiv.firstChild.innerHTML.length > 1) {
                    invoiceidDiv.style.display = "block";
                  }

                  var purchase_units = [{ "amount": { "currency_code": "USD", "value": 0, "breakdown": { "item_total": { "currency_code": "USD", "value": 0 } } }, "items": [{ "name": "item name", "unit_amount": { "currency_code": "USD", "value": 0 }, "quantity": "1", "category": "DONATION" }] }]

                  function validate(event) {
                    return event.value.length > 0;
                  }

                  paypal.Buttons({
                    style: {
                      color: 'gold',
                      shape: 'rect',
                      label: 'donate',
                      layout: 'horizontal',
                      tagline: true
                    },

                    onInit: function (data, actions) {
                      actions.disable();

                      if (invoiceidDiv.style.display === "block") {
                        elArr.push(invoiceid);
                      }

                      elArr.forEach(function (item) {
                        item.addEventListener('keyup', function (event) {
                          var result = elArr.every(validate);
                          if (result) {
                            actions.enable();
                          } else {
                            actions.disable();
                          }
                        });
                      });
                    },

                    onClick: function () {
                      if (description.value.length < 1) {
                        descriptionError.style.visibility = "visible";
                      } else {
                        descriptionError.style.visibility = "hidden";
                      }

                      if (amount.value.length < 1) {
                        priceError.style.visibility = "visible";
                      } else {
                        priceError.style.visibility = "hidden";
                      }

                      if (invoiceid.value.length < 1 && invoiceidDiv.style.display === "block") {
                        invoiceidError.style.visibility = "visible";
                      } else {
                        invoiceidError.style.visibility = "hidden";
                      }

                      purchase_units[0].description = description.value;
                      purchase_units[0].amount.value = amount.value;
                      purchase_units[0].amount.breakdown.item_total.value = amount.value;
                      purchase_units[0].items[0].unit_amount.value = amount.value;

                      if (invoiceid.value !== '') {
                        purchase_units[0].invoice_id = invoiceid.value;
                      }
                    },

                    createOrder: function (data, actions) {
                      return actions.order.create({
                        purchase_units: purchase_units,
                      });
                    },

                    onApprove: function (data, actions) {
                      return actions.order.capture().then(function (orderData) {

                        // Full available details
                        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

                        // Show a success message within this page, e.g.
                        const element = document.getElementById('paypal-button-container');
                        element.innerHTML = '';
                        element.innerHTML = '<h3>Thank you for your payment!</h3>';

                        // Or go to another URL:  actions.redirect('thank_you.html');

                      });
                    },

                    onError: function (err) {
                      console.log(err);
                    }
                  }).render('#paypal-button-container');
                }
                initPayPalButton();
              </script>
              <!--end of paypal redirection-->

              <li><i class="bi-credit-card"></i><strong>World Remit: </strong>+254724046338 <br>opadayiraf@gmail.com
                <br>Korogocho Nairobi Kenya
              </li>
              <hr>
              <li><i class="ri-money-dollar-box-fill"></i> <strong>
                  <h4>Account Number:</h4>
                </strong><br>
                <strong>ACCOUNT NAME: </strong>St Panteleimon community based organisation <br>
                <strong>ACCOUNT NUMBER: </strong>1294599038 <br>
                <strong>Swift Code:</strong> KCBLKENX
              </li>

            </ul>
            <hr>
            <p>
              Raphael golden heart will definitely take him far in his illustrious life. He shall out rightly leave a
              quite envious rich legacy here in this life,and his kind hearted character will for generation to come
              make indelible footprints.
            </p>
            <!-- <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
              <div class="member">
                <div class="member-img">
                  <img src="assets/img/portfolio/IMG-20220803-WA0058.jpg" class="img-fluid" alt="">
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href="https://web.facebook.com/ST-Panteleimon-Mission-of-Hope-106154521897904"><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4></h4>
                  <span>Founder of ST. PANTELEIMON
                    Community based organisation</span>
                </div>
              </div>
            </div> -->
          </div>

        </div>

      </div>
    </section><!-- End About Video Section -->


    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
        </div>
        <p>Here is a team which has contributed to the success of St. Panteleimon Community Based Organisation
        <p>
        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/team/IMG-20220806-WA0042.jpg' %}" class="testimonial-img" alt="">
                <h3>Bishop Markos Theodosi</h3>
                <h4>Co Founder &amp;Patron</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/team/IMG-20220806-WA0041.jpg' %}" class="testimonial-img" alt="">
                <h3>Fr. Arseniors Chitwa</h3>
                <h4>One Of The Founders</h4>
              </div>
            </div><!-- End testimonial item -->
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/team/IMG-20220803-WA0058.jpg' %}" class="testimonial-img" alt="">
                <h3>Raphael Stephen Opati Andayi</h3>
                <h4>Founder</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->
    <!-- Education section -->
    <div class="education">
      <div class="eduHead">
        <div class="section-title">
          <h2>EDUCATION</h2>
        </div>
        <div class="p">
          <p>St Panteleimon community based organization is delighted to welcome you to our family.
            Our children focused programmes are designed to ensure that all children have a solid start to an an
            exciting future. All children are special and gifted with different talents and capabilities and we we
            strive to nurture each child individually moulding their social and moral attributes so that they can
            succeed in future.
            St Panteleimon academy is a learning centre that is determined to uphold educational quest to transform the
            lives of vulnerable children.
            The foundation of a child educational development is crucial.The academy will teach the children language,
            mathematics, life skills, social studies, art and craft, science and music.
          </p>
        </div>
        <div class="categ">
          <h4> class categories</h4>
        </div>
        <div class="classgroups">
          <h5>
            <ul class="uno">
              <li>Pre unity 5-6 years</li>
              <li>Baby class 3-4 years </li>
              <li>Nursery 4-5 years</li>
              <li>Play group 2-3 years</li>
            </ul>
          </h5>
        </div>
        <span class="quote"><i> Educational excellence is the main goal we strive to achieve.</i></span><br>

        <p class="believe">We also believe that a wholesome mind needs physical stimulation of the body and engagement
          in various extra curricular activities for children round development, therefore we organize different
          sporting and extra curricular activities.
        </p>
        <ul>
          <li class="hashes"> #EducateOrphans</li>
          <li class="hashes">#LeaveNoOneBehind</li>
        </ul>
      </div>
    </div>

    <!-- end of Education section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Gallery</h2>
          <p>Below is a gallery containing testimonials of our charity work.</p>
        </div>
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="300">

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/portfolio-2.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio/portfolio-2.jpg' %}" data-gallery="portfolioGallery"
                    class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/portfolio-3.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio/portfolio-3.jpg' %}" data-gallery="portfolioGallery"
                    class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/IMG-20220807-WA0002.jpg' %}" class="img-fluid" alt="IMG-20220807-WA0002.jpg">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio/portfolio-3.jpg' %}" data-gallery="portfolioGallery"
                    class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                  <a href="IMG-20220807-WA0002.jpg" title="More Details"></a>
                </div>
              </div>
            </div>
          </div>



          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/portfolio-4.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio/portfolio-4.jpg' %}" data-gallery="portfolioGallery"
                    class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/portfolio-5.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio/portfolio-5.jpg' %}" data-gallery="portfolioGallery"
                    class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/portfolio-6.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio/portfolio-6.jpg' %}" data-gallery="portfolioGallery"
                    class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/portfolio-7.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio/portfolio-7.jpg' %}" data-gallery="portfolioGallery"
                    class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/portfolio-8.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio/portfolio-8.jpg' %}" data-gallery="portfolioGallery"
                    class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/portfolio-9.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio/portfolio-9.jpg' %}" data-gallery="portfolioGallery"
                    class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/4.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio/4.jpg' %}" data-gallery="portfolioGallery"
                    class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div >
              <video src="{% static './assets/img/04.mp4' %}" autoplay controls></video>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div >
              <video src="{% static './assets/img/05.mp4' %}" autoplay controls></video>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div >
              <video src="{% static './assets/img/06.mp4' %}" autoplay controls></video>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="{% static 'assets/img/1.jpg' %}" data-gallery="portfolioGallery"
                    class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"></a>
                </div>
              </div>
            </div>
          </div>



        </div>

      </div>
    </section><!-- End Portfolio Section -->



    <!-- activities -->
    <div class="activities">
      <a href="activities">
      <button class="activitiesButton">Activities</button>
    </a>
    </div>
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact us</h2>
          <p>We'd really love to hear from you.</p>
        </div>

        <div>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15955.460309101034!2d36.889429650000004!3d-1.25248215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f143620de49a5%3A0x7cc86215c09a6240!2sKorogocho%2C%20Nairobi!5e0!3m2!1sen!2ske!4v1659599458366!5m2!1sen!2ske"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Makarios 111 patriarchal seminary</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p><a href="mailto:opadayiraf@gmail.com">opadayiraf@gmail.com</a></p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:Raphael Stephen Opati Andayi</h4>
                <p><a href="tel:+254724046338">+254724046338</a></p>
              </div>
              <div class="phone">
                <i class="bi-facebook"></i>
                <h4><a href="https://web.facebook.com/ST-Panteleimon-Mission-of-Hope-106154521897904">ST Panteleimon
                    Mission Of Hope Facebook Page</a></h4>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-3">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Orthodox Archbishopric of Kenya Archdiocese headquarter</h3>
            <p>
              Makarios 111<br> patriarchal seminary<br>
              P.O Box 46119-00100 <br>Nairobi Kenya <br><br>
              <strong>Phone:</strong><a href="tel: +254724046338">+254724046338</a><br>
              <strong>Email:</strong> <a href="mailto:opadayiraf@gmail.com">opadayiraf@gmail.com</a><br>
            </p>
          </div>
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Join our Newsletter to start recieving updates from Panteleimon community based organisation</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          Registration No.<strong><span>HUD.GPO/KAS/CBO/03/2022(006)</span></strong>
        </div>
        <div class="credits">
          Designed and Maintained by <a href="mailto:patrickcreativity5@gmail.com">Patrick</a>
          <br><a href="tel:+254114045087">+254114045087</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src=" {% static 'assets/vendor/purecounter/purecounter.js' %} "></script>
  <script src=" {% static 'assets/vendor/aos/aos.js' %} "></script>
  <script src=" {% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
  <script src=" {% static 'assets/vendor/glightbox/js/glightbox.min.js' %} "></script>
  <script src=" {% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %} "></script>
  <script src=" {% static 'assets/vendor/swiper/swiper-bundle.min.js' %} "></script>
  <script src=" {% static 'assets/vendor/php-email-form/validate.js' %} "></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>